
<div style="width: 60%;
  height: 800px;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.73);
  text-align: center;
  padding-top: 35px;
  margin-top: -30px;
  font-size: 18px;
	overflow: auto;">

  <!--
  <label for="datetimepicker">时间：</label><br/>
	<input type="text" id="datetimepicker"/><br/>
  -->

  <%= render :partial => "form" %><br/>

  <% if @article.category_id ==1 %>
    <%= link_to "返回博客列表", articles_path(category_id: 1) %>
  <% else %>
    <%= link_to "返回博客列表", articles_path(category_id: 2) %>
  <% end %>
</div>

  <!--
  <script>
    $('#datetimepicker').datetimepicker({
      format: 'yyyy-mm-dd hh:ii'
    });
  </script>
  -->
