<div style="width: 900px;
     height: 600px;
     margin: 0 auto;
     background-color: rgba(255, 255, 255, 0.73);
     text-align: center;
     padding-top: 35px;
     margin-top: -30px;
     font-size: 18px;">
  <h2 style="margin-bottom: 20px; color: #20537f;"><%= @article.title %></h2>

  <div style="width: 600px;
    margin: 0 auto;
    height: 400px;
    background-color: rgba(255, 255, 255, 0.36);
    margin-bottom: 20px;
    padding: 15px;
    overflow: auto;
    white-space: normal;
    text-align: initial;
    text-indent: 1cm;">
    <p><%= raw @article.content %></p>
  </div>

  <% if @article.category_id ==1 %>
    <%= link_to "返回博客列表", articles_path(category_id: 1) %>
  <% else %>
    <%= link_to "返回博客列表", articles_path(category_id: 2) %>
  <% end %>
</div>
