
<div style="width: 60%;
     height: 800px;
     margin: 0 auto;
     background-color: rgba(255, 255, 255, 0.73);
     text-align: center;
     padding-top: 35px;
     margin-top: -30px;
     font-size: 16px;">
  <h2 style="margin-bottom: 20px; color: #20537f;">博主简介</h2>

  <div style="width: 80%;
    margin: 0 auto;
    height: 600px;
    background-color: rgba(255, 255, 255, 0.36);
    margin-bottom: 20px;
    padding: 15px;
    overflow: auto;
    white-space: normal;
    text-indent: 1cm;
    text-align: initial;">
    <p><%= raw @user.author_intro %></p>
  </div>
    <%= link_to "返回列表页", users_path %>
</div>
