<!-- /.container -->

<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <p>Copyright@文圆承的博客 2016 </p>
      </div>
    </div>
  </div>
</footer>
